<h1 class="title-primary">
  User's <%=current_user.email%> uploaded files list:
</h1>
<table class="min-w-full table-auto border">
  <thead class="border-black border-2 bg-gray-800 text-gray-300" >
    <tr>
      <th>Nr.</th>
      <th>File name</th>
      <th>File upload date</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @uploads %>
  </tbody>
</table>
