<aside class="fixed top-0 left-0 w-64 h-full" aria-label="Sidenav">
  <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <ul class="space-y-2">
      <li>
        <%= link_to "File List", uploads_path, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" %>
      </li>
      <li>
        <%= link_to "File Upload", new_upload_path, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" %>
      </li>
      <li>
        <%= link_to "Generate Report", pdf_printout_uploads_path, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" %>
      </li>
    </ul>
    <div class="hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white dark:bg-gray-800 z-20">
      <%= button_to(
        'Sign Out',
        destroy_user_session_path,
        method: :delete,
        class: "inline-flex justify-center p-2 text-black-500 rounded cursor-pointer dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-600"
      ) %>
    </div>
  </div>
</aside>
